/* :root {

} */
.mapa-estrategico{
    margin-top: 10px;
    border: 1px solid lightgray;
    padding: 4px;
}
.hidden-th{
    min-width: 50px;
}
table {
    width: 100%;
    text-align: center;
    font-size: 13px;
}
tr{
    height: 1px;
}
td, th {
    height: inherit;
    padding: 0;
}
.perspectiva{
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:pre-line;
    background-color: #C85120;
    color: white;
    width: 95%;
    height: 95%;
    padding: 8px;
    line-height: 95%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
}
.tema-estrategico {
    margin: 4px;
    padding: 8px 16px;
    background-color: black;
    color: white;
    height: 95%;
    line-height: 95%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.grilla{
    background-color: #F2F0F2;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
    height: 95%;
}
.descripcion-grilla{
    font-weight: bold;
    padding: 4px 0 8px 0;
}
.objetivo {
    border-radius: 5px;
    background-color: cadetblue;
    margin: 4px;
    padding: 8px;
    height: 95%;
    cursor: pointer;
}
.objetivo:hover{
    box-shadow: 0 3px 8px -4px;
}
.contenedor-iconos{
    display: flex;
}
.score-objetivo{
    background-color: darkgreen;
    border-radius: 50%;
    color: white;
    padding: 4px;
    height: 25px;
    font-weight: bold;
    line-height: 17px;
    width: 25px;
    font-size: 10px;
}
.indicador-objetivo{
    font-size: 17px;
    text-align: right;
    flex: 1;     
}
.indicador-objetivo>small{
    font-weight: 700 !important;
}
.texto-objetivo{
    padding: 4px;
}

.color-box{
    width: 10px;
    height: 10px;
    border-radius: 2px;
    display: inline-block; 
}